body {
    overflow-x: hidden;
}
.texto {
    color: $custom-color;
    font-weight: bold;
    
    .consultores-title {
        @each $property, $value in $custom-styles {
            #{$property}: $value;
        }
    }
}
.imagen-nosotros img {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
    aspect-ratio: 16/9;
}